<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="(blorg-insert-lang-code)">
  <head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>(blorg-insert-page-title)</title>
	<link rel="alternate" type="application/rss+xml" title="(blorg-insert-page-title)" href="rss.xml"/>
	<link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" media="screen" href="ie.css"/>
	<![endif]-->
	<script type="text/javascript" src="js/base.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/search.js"></script>
	<script type="text/javascript" src="js/init.js"></script>
  </head>
