			<div class="post"><!-- id="post-xxx"-->
			  <h2><a class="title" href="(blorg-insert-post-url)" rel="bookmark">(blorg-insert-post-title)</a></h2>
			  <div class="info">
				(blorg-insert-post-dates)
				(blorg-insert-post-author)
				<!--span class="addcomment"><a href="url">Leave a comment</a></span-->
				<span class="comments">(blorg-insert-disqus-count-and-link)</span>
				<div class="fixed"></div>
			  </div><!-- info -->
			  <div class="content">
				(blorg-insert-post-content)
				<div class="fixed"></div>
			  </div><!-- content -->
			  <div class="under">
				(blorg-insert-post-tags)
			  </div><!-- under -->
			</div><!-- post-xxx -->
